









{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Brighthelm Swing Dance</title>
  <!-- Bootstrap CSS -->
  <link href="{% static "css/bootstrap-grid.min.css" %}" rel="stylesheet" />
  <link href="{% static "css/bootstrap-reboot.min.css" %}" rel="stylesheet" />
  <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway:200" rel="stylesheet">

  <!-- Own CSS -->
  <link href="{% static "css/main.css" %}" rel="stylesheet" />
  <link href="{% static "css/menu.css" %}" rel="stylesheet" />
</head>
<body>
  <!-- Navigation -->
  <nav class="navbar navbar-swing navbar-dark navbar-expand-md">
    <div class="navbar-swing__container">
      <a class="navbar-brand menu-logo__container" href="#">
          <img class="menu-logo" src="{% static "img/bswing.png" %}" />
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link" href="#home">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#event">Events</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#location">Location</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#collegiate">Collegiate shag</a>
              </li>
		<li class="nav-item">
                  <a class="nav-link" href="#workshops">Workshops</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="safe-spaces.html">Safe spaces</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#contact">Contact us</a>
              </li>
          </ul>
      </div>
    </div>
  </nav>

  <div class="swing-container">
    <!-- Hero Block -->
    <section id="home" class="swing-hero text-center col-sm-12">
      <h1 class="swing-hero__text header">
        Brighthelm Swing Dance night @ St Martin&apos;s
      </h1>
      <div class="swing-hero__text swing-hero__subtext">
        <div>Brighton&apos;s community swing dance night with a relaxed friendly vibe.</div>
        <div>We play swing music for all swing dance styles once a month in the centre of Brighton</div>
      </div>
      <div class="swing-hero__overlay"></div>
    </section>


    <!-- Event Block -->
    <section id="event" class="swing-event">
      <div class="row">
        <div class="col-12 col-md-7 swing-event__section">
          <h2 class="header">
            Saturday 15 June 2019
          </h2>
          <div class="swing-event__next-date">
             Come along and dance - a warm welcome and a fabulous dance night awaits you.
          </div>
          <div>           
	
<p>8.00-11.00pm<br/>
Bring your own refreshments<br/>
Excellent spacious wooden dance floor<br/>
           
          </div>
        
        </div>
        <div class="col-12 col-md-5 swing-event__section text-center">
          <h2 class="header">
            Dates for your diary
          </h2>

          <ul class="swing-event__dates">
   

                <li>Saturday 15 June 2019</li>
          </ul>

          <div class="swing-event__classes">
            <small>
              Class 7.00-8.00 pm &pound;3
            </small>
            <small>
              Dance 8.00-11.00 pm &pound;7
            </small>
          </div>
        </div>
      </div>
    </section>

    <!-- Location Block -->
    <section id="location" class="swing-location">
      <div class="row">
        <div class="col-12 col-lg-4 swing-location__text-wrapper">
          <h4 class="header swing-location__header">
            St Martin&apos;s Church Hall, Lewes Road, BN2 3HQ
          </h4>
          <div>
            This central Brighton venue has all
            you have come to expect from a Brighthelm night
            with its welcoming vibe and wooden dance floor
            with room to swing out.
          </div>
          <div>
            You can bring your own refreshments
            and chilled water is always available.
          </div>
          <span>
            <br/>There are no more events at the Brighthelm Centre in North Road, Brighton
          </span>
        </div>
        <div class="col-12 col-sm-8 col-lg-5 swing-location__map">
          <iframe width="100%"
                  height="100%"
                  class=""
                  frameborder="0"
                  src="https://www.google.com/maps/embed/v1/place?q=St%20Martin's%20Church%20Hall%2C%20Lewes%20Road%2C%20BN2%203HQ&key=AIzaSyBvvsPt-A3P5ALG-pd0uqGIh3fNc1068uY">
          </iframe>
        </div>
        <div class="col-12 col-sm-4 col-lg-3 swing-location__text-wrapper">
          <h5>Buses that stop nearby:</h5>
          <ul class="swing-location__bus-list">
            <li>21</li>
            <li>22</li>
            <li>23</li>
            <li>24</li>
            <li>28</li>
            <li>29</li>
            <li>37</li>
            <li>48</li>
            <li>49</li>
            <li>78</li>
          </ul>
          <div>Brighton station is 15 minutes walk (quicker if you triple step)</div>
          <div>Plenty of free parking at the Level from 8pm</div>
        </div>
      </div>
    </section>

    <!-- Collegiate Block -->
    <section id="collegiate" class="swing-collegiate">
      <div class="row text-center">
        <div class="col-12 col-md-4 swing-collegiate__column">
          <h3 class="header">Community Shag</h3>
          <div>Returns Thursday 7 March 2019 <br/>Learn and practise Collegiate Shag <br/>on Thursdays from 8.30pm at the<br/> Phoenix Community Centre, 2 Phoenix Place, <br/>Brighton BN2 9ND<br/><br/>&pound;5 on the door<br/><br/>Free parking at the Level<br/>10 minutes from Brighton station<br/>Well located for buses</div>
        </div>
        <div class="col-12 col-md-4 swing-collegiate__column">
          <h3 class="header">Workshops</h3>
          <div>No workshops planned at the moment</div>
        </div>
        <div class="col-12 col-md-4 swing-collegiate__column">
          <h3 class="header">Safe Spaces</h3>
          <small><a href="safe-spaces.html">CLICK TO READ</a></small>
        </div>
      </div>
    </section>



    <!-- Contact Block -->
    <section id="contact" class="swing-contact">

      <h2 class="header swing-contact__header">Contact Us</h2>

      <ul class="swing-contact__list">
        <li class="swing-contact__list__item"><a href="https://www.facebook.com/groups/1631382703778708/"><i class="fa fa-facebook"></i> Facebook</a></li>
        <li class="swing-contact__list__item"><a href="https://twitter.com/BrighthelmSwing"><i class="fa fa-twitter"></i> Twitter</a></li>
        <li class="swing-contact__list__item"><a href="mailto:brighthelmswing@gmail.com"><i class="fa fa-envelope"></i> Email</a></li>
      </ul>
    </section>
  </div>


  <!-- Jquery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- Bootstrap JS -->
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <!-- Own JS -->
  <script src="js/menu.js"></script>
  <script>
    $(document).ready(function(){
      $("a").on('click', function(event) {
        if (this.hash !== "") {
          event.preventDefault();
          var hash = this.hash;

          $('html, body').animate({
            scrollTop: $(hash).offset().top
          }, 800, function () {
            window.location.hash = hash;
          });
        }
      });
    });
  </script>
</body>
</html>
