<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Brighthelm Swing Dance</title>
  <!-- Bootstrap CSS -->
  <link href="css/bootstrap-grid.min.css" rel="stylesheet" />
  <link href="css/bootstrap-reboot.min.css" rel="stylesheet" />
  <link href="css/bootstrap.min.css" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway:200" rel="stylesheet">

  <!-- Own CSS -->
  <link href="css/main.css" rel="stylesheet" />
  <link href="css/menu.css" rel="stylesheet" />
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-swing navbar-dark navbar-expand-md">
  <div class="navbar-swing__container">
    <a class="navbar-brand menu-logo__container" href="#">
      <img class="menu-logo" src="img/bswing.png" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="index.html#home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="index.html#event">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="index.html#location">Location</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="index.html#collegiate">Collegiate shag</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="safe-spaces.html">Safe spaces</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="index.html#contact">Contact us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="swing-container">
  <!-- Safe Block -->
  <section class="swing-safe">
  <h2 class="header swing-safe__header text-center">Safe spaces code of conduct</h2>
  <div class="swing-safe__text">
    <h5>Keeping you safe</h5>
    <div>We’re here. Whether you need medical attention or you would like to talk to someone about another Brighthelm Swing attendee's behaviour. Brighthelm Swing’s Safe Spaces contact is Annie. That means you can speak to her privately about anything that has bothered you. She will listen to you non-judgmentally and take you seriously. She will keep everything you tell her confidential as is possible, unless you say otherwise. (However, in the event of a police investigation, all information will become disclosable.) To contact her you can text, send a private facebook message or email brighthelmswing (at)gmail(dot)com
    You are welcome to contact us anonymously.</div>

    <div>We encourage anyone who has experienced or witnessed intimidating or inappropriate behaviour to tell an organiser. If you’d rather speak to someone outside of our immediate group, all of the people here are ready to listen.</div>

  <div>Safety People are available for discussion and reassurance, not just formal reports. Safety in Swing Dance organisers and teachers will happily provide support to anyone experiencing problematic behaviours in the Swing dance scene– please do tell us about your concerns, even small ones – we’re here for you! No issue is too big or too small to talk to us about.</div>

    <div>We believe that the swing dancing scene is one of the friendliest, supportive and most progressive out there. Stepping up, listening to concerns and pro-actively working to make our scene a safe place is how we keep it that way. We LOVE swing dancing! We believe that every person at our events has the right to feel comfortable and safe at all times. To try our hardest to make sure that happens we have a code of conduct which is there to make sure everyone attending the event is on the same page. We all have different experiences, beliefs and ideas about what’s acceptable, and so we want to make sure that we have a shared understanding of what’s okay. It means that we have something to use as a reference point in the event that we need to talk to somebody about their behaviour. We hope it also sends out a message to those who might experience some of these things that someone is there to support them.</div>
  </div>
  <h2 class="header swing-safe__header text-center">Code of Conduct</h2>
  The following applies to everyone involved with Brighthelm Swing: dancers, volunteers, teachers, visiting teachers and musicians.
  <ul class="swing-safe__list">
    <li>
    <strong>We welcome everyone</strong>. This is regardless of gender/gender identity, race, ethnicity, sexual orientation, disability, lifestyle, physical appearance, religion, age, employment status, dance ability or dance role. Dance roles aren’t gender specific. We encourage all dancers to have the choice of following, leading or both. We recommend asking someone which role they would like to dance when you ask them. Try not to assume someone’s dance role based on their appearance.
    </li>
    <li>
    <strong>Mind Your Words</strong>. Participating in any kind of verbal, physical or sexual abuse will have consequences. This may include, but is not limited to, being asked to leave without refund and exclusion from future events. This also covers things like wearing t-shirts with offensive words or images on.
    </li>
    <li>
    <strong>Look after your body </strong> and respect the bodies of other people. Partner dancing can involve close contact with others and we must respect each others’ personal boundaries. Ask for permission before touching someone, or dancing with them in close embrace. Be careful not to touch their ‘private’ zones, and take all care to avoid hurting them. If you accidentally swipe somewhere you didn’t mean to, be sure to apologise. If this happens repeatedly you will be warned or asked to leave. If someone tells you that you are making them feel uncomfortable, stop what you're doing. If anyone is making you feel uncomfortable, you have the right to tell them to stop.
    </li>

    <li><strong>Be OK with people saying no.</strong> If you ask someone to dance and they say “No thank you,” that’s fine, they don’t have to give a reason. Reply, “Hey, no worries - maybe another time!” and move on to ask someone else. No one is obliged to dance with you. You can ask anyone to dance, regardless of your/their gender, age or role.</li>
    <li><strong>You can say no.</strong> If someone asks you to dance and you don’t want to, say “No thank you” and leave it at that. You don’t have to give a reason; you don’t owe anyone your time. if you promise to dance later on, honour that promise.. If someone asks you to dance and you do want to, say “YES please!” Nothing is better than enthusiastic consent!</li>
    <li><strong>Be considerate with your personal care.</strong> Swing dancing can get sweaty, and involves contact with other people - so think of others. Think about showering before the dance, using breath mints, wearing deodorant. Consider bringing a towel and some spare shirts, and changing throughout the night. Try not to wear anything that might hurt others on the dance floor.</li>
    <li><strong>Play safe.</strong> You are responsible for your own physical safety and that of others nearby. Please practice safe floor-craft. Don’t perform aerials or dips that take people off their balance on the social dance floor. Save those things for jam circles and performances, and check before each time you try them out. Just because someone was okay with something once, doesn’t mean they always will be in the future.</li>
    <li><strong>Don’t give unsolicited feedback.</strong> Unless they specifically ask for feedback, don’t correct someone’s dancing on the social dance floor. Parties are for partying! In class, ask whether someone is interested in receiving feedback before offering it. Be considerate in the way you give feedback.</li>
    <li><strong>Take it easy on the booze!</strong> If you’re at an event where alcohol can be consumed, be sure your consumption stays safe and comfortable for both you and others. If your state give us cause for concern, or if you provide alcohol to an under 18 on our watch, we may ask you to leave.</li>
    <li><strong>If we have reason to be concerned about your behaviour</strong>, we will talk about it with you and may give you a warning. If your behaviour continues after a warning, or if you harass or cause anyone to feel unsafe, you may be asked to leave. We might ban you from future events and, in discussion with the complainant, we may report you to the police. We don’t have to give you a second chance.</li>
  </ul>

  <small>Produced for Brighthelm Swing with thanks to Highland Swing and STEPS code of conduct.</small>
  </section>
</div>


<!-- Jquery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Bootstrap JS -->
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<!-- Own JS -->
<script src="js/menu.js"></script>
</body>
</html>
