
.menu-logo {
    position: absolute;
    top: 0px;
    width: 200px;
    height: 200px;
    border: 10px solid #1C1F2C;
    z-index: 10;
    border-radius: 50%;
    transition: .7s all;
    -moz-transition: .7s all;
    -webkit-transition: .7s all;
    -o-transition: .7s all;
}

.menu-logo__container {
	position: relative;
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: center;
}

.navbar-swing {
    z-index: 100;
	position: fixed;
	width: 100%;
	background-color: #1C1F2C;
    justify-content: center;
	transition: .7s all;
	-moz-transition: .7s all;
	-webkit-transition: .7s all;
	-o-transition: .7s all;
}

.navbar-swing a {
    color: #fefefe !important;
}

.navbar-swing .navbar-collapse {
    justify-content: center;
    background-color: rgb(28, 31, 44);
    position: absolute;
    top: 80px;
    left: 0px;
    right: 0px;
    padding: 20px;
}

.navbar-swing--small {
    height: 80px;
    opacity: .9;
}

.navbar-swing a.nav-link:hover {
    color: #ad57e8!important;
}

.navbar-swing--small .menu-logo {
    top: 10px;
    width: 100px;
    height: 100px;
}


.navbar-toggler {
	top: 20px;
	right: 20px;
	position: absolute;
}


@media (min-width: 768px) {
	.navbar-swing {
		height: 80px;
        justify-content: center;
	}

    .navbar-swing__container {
        display:flex;
    }

	.menu-logo__container {
        margin-top: 15px;
		position: relative;
		width: 150px;
		height: 0px;
	}

	.menu-logo {
		position: absolute;
		top: -30px;
		width: 150px;
		height: 150px;
		border: 5px solid #1C1F2C;
		border-radius: 50%;
		transition: .7s all;
		-moz-transition: .7s all;
		-webkit-transition: .7s all;
		-o-transition: .7s all;
	}

	.navbar-swing--small {
		height: 50px;
	}
	.navbar-swing--small .menu-logo {
		top: -20px;
		width: 75px;
		height: 75px;
	}

	.navbar-swing .navbar-collapse {
        display: block;
		background-color: rgb(28, 31, 44);
		position: initial;
		top: initial;
		left: initial;
		right: initial;
		padding: initial;
	}
}


@media (min-width: 841px) {

	.navbar-swing .navbar-nav a{
		padding-left: 1rem !important;
		padding-right: 1rem !important;
	}
}